header {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav {
	height: 100%;
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

header nav ul a {
	text-decoration: none;
	color: #1976d2;

	&:visited {
		color: #1976d2;
	}

	&:hover {
		color: darkblue;
	}
}

.root {
	display: flex;
	height: 85vh;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.root main {
	flex-basis: 80%;
	height: 100%;
}

.root aside {
	flex-basis: 20%;
	height: 100%;
}

.books-page,
.profile-page {
	overflow: scroll;
	height: 100%;
}

.books-search-bar {
	padding: 0.5rem 2rem;
	margin-bottom: 1rem;
}

.books-search-bar div {
	width: 100%;
}

.book-list-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 2rem;
	gap: 1rem;
}

.book-list-item,
.book-list-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
}

.book-list-item p,
.book-list-header p {
	flex-basis: 20%;
}

.book-list-header p {
	font-weight: bold;
}

.cart-submit-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-content {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.5rem;
	overflow: scroll;
}

.cart-li-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	gap: 0.5rem;
}

.cart-li-item {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.5rem;
	border: 0.5px solid #1976d2;
	border-radius: 0.2rem;
	padding: 0.5rem 1.5rem;
}

.cart-li-quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.profile-page,
.profile-page form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.profile-greeting {
	width: 100%;
	text-align: center;
	margin-bottom: 3rem;
	padding-left: 20rem;
}

.profile-page form {
	flex-direction: column;
	padding-left: 20rem;
}

.form-error {
	color: red;
	padding: 0;
}

.form-edit-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20rem;
}

footer {
	height: 5vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	text-align: center;
	border-top: 1px solid black;
}
