header {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav {
	height: 100%;
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

header nav ul a {
	text-decoration: none;
	color: #1976d2;

	&:visited {
		color: #1976d2;
	}

	&:hover {
		color: darkblue;
	}
}

.root {
	display: flex;
	height: 85vh;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.root main {
	flex-basis: 80%;
	height: 100%;
}

.root aside {
	flex-basis: 20%;
	height: 100%;
}

.books-page {
	overflow: scroll;
	height: 100%;
}

.books-search-bar {
	padding: 0.5rem 2rem;
	margin-bottom: 1rem;
}

.books-search-bar div {
	width: 100%;
}

.book-list-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 2rem;
	gap: 1rem;
}

.book-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
}

.book-list-item p {
	flex-basis: 20%;
}

.cart-submit-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-content {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

footer {
	height: 5vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	text-align: center;
}
